<h4 class='text-3xl'>
	Hello
	{{name}}, thanks for registering</h4>

<p class='font-bold text-lg py-2'>Please
	<a href='{{frontend_url}}' class='underline text-sky-400'>click here</a>
	to go to app</p>