<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />

		<style>
			{{{mail}}}
		</style>

		<title>Mail Message </title>
	</head>
	<body>
		<div class='flex flex-col items-center justify-around font-mono py-10'>
			{{{body}}}
		</div>
	</body>
</html>