<h4 class='text-3xl text-teal-400'>
	Hello
	{{name}}, please click this
	<a
		href='{{frontend_url}}/reset-password?token={{token}}'
		class='underline text-sky-400'
	>link</a>
	to reset your password</h4>